<h1 class="color-text center"> Palindroms from 1 to <%= params[:n] %> </h1>
<div class="table">
    <div class="row">
        <div class="col-1"> # </div>
        <div class="col-5"> Number </div>
        <div class="col-6"> Number ** 2</div>
    </div>
    <% @result.each_with_index do |el, idx| %>
    <div class="row">
        <div class="col-1"> <%= idx+1 %>.</div>
        <div class="col-5"> <%= el %> </div>
        <div class="col-6"> <%= el**2 %> </div>
    </div>
    <% end %>
</div>
