<%= render @user %>

<div class="links">
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
</div>
<div class="destroy">
  <%= button_to "Destroy this user", @user, class: 'button', method: :delete %>
</div>
