<% if notice.present? %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h2 class="color-text">Results</h2>

<div id="results">
  <% @results.each do |result| %>
    <div class="element">
      <%= render result %>
      <p>
        <%= link_to "Show this result", result %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New result", root_path %>
